.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    height: 85px;
    white-space: nowrap;
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 0px;
    padding: 0 80px;
    background: linear-gradient(to right, #ff3432, #ff874a);
    background-repeat: no-repeat;
    background-size: cover;

    a {
        transition: height 0.3s ease;
        position: relative;
        top: 0;
        display: flex;
        align-items: center;

        .logo {
            height: 85px;
            border-radius: 50%;

            &:hover {
                background: none;
                text-decoration: none;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }


}